@import "normalize";
@import "foundation";

html,body {
	font-size: 12px;
	height: 260px;
}

header, footer {
	background-color: #222222; // #2ba6cb;
	width: 100%;
}

header {
	margin-bottom: 1em;

	h1 {
		margin: 0.33em 0;
	}

	* {
		color: #ffffff;
	}
}

footer {
	position: absolute;
	bottom: 0;

	p {
		color: #fefefe;
		margin: 0.2em 0;
	}

	.update a {
		color: #5da423;
	}
}

#chooseTheme, #copyTheme, #fetchingData, #downloadingImages, #location, #finished {
	display: none;
}

#welcome .buttonwrap {
	text-align: center;
}

#chooseTheme .theme img {
	cursor: pointer;
}

#finished h2 {
	display: block;
	text-align: center;
	font-weight: bolder;
}