@import "normalize";
@import "foundation";

html,body {
	font-size: 12px;
	height: 260px;
}

header, footer {
	background-color: #222222; // #2ba6cb;
	width: 100%;
}

header {
	margin-bottom: 1em;

	h1 {
		margin: 0.33em 0;
}

	* {
		color: #ffffff;
}
}


#location {
	margin-top: 8em;
}

#downloadingImages {
	margin-top: 7em;
}

#fetchingData {
	margin-top: 8em;
}

#chooseTheme {
	margin-top: 1em;
	margin-bottom: 1em;

	.theme img {
		cursor: pointer;
	}
}

#copyTheme {
	margin-top: 10em;
}

#finished {
	margin: 8em;

	h2 {
		display: block;
		text-align: center;
		font-weight: bolder;
	}
}